*{
    margin: 0;
    height: 0;
}
html, body{
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
}
.triangle-down{
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 300px solid rgb(61, 49, 49);
    margin: auto;
    margin-top: 20px;
    transition: 2s;
  }
  .triangle-down:hover{
    background-image: url(/Prayash/logo/6a26db1e-3998-4341-9fa2-3ffa63635496.jpeg);
    background-size: cover;
    border-radius: 50%;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top : 300px;
  }
  /* .triangle-down.delay{
    transition-delay: 1s;
    transition-property: red;
  } */

.square{
    background-color: green;
    height: 300px;
    width: 300px;
    margin: auto;
    /* border-radius: 50%; */
    transition: 2s;
}
.square:hover{
    background-image: url(/Prayash/logo/_Eyeball_\ Sticker\ for\ Sale\ by\ KH-Designs.jpeg);
    border-radius: 50%;
    background-size: cover;
}
