* {
    margin:0;
    padding:0;
}
html , body {
    height:100vh;
    width:100vw;
}
/* .container {
    width:80%;
} */

header {

    font-family: 'Poppins';
    /* width:100%; */
    /* height:100vh; */
    background-color:rgba(130, 132, 133, 0.6);
    background-image: url("https://images.unsplash.com/photo-1570784063106-7431cb7c3d53?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z2lybHMlMjBiaWtlfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-attachment: fixed; */
    background-position:top;
    padding-bottom: 100px;
    
    
}

 /* .hline {


    justify-items: center;
    width:200px;
    
}   */
  

.navigation-bar {
    margin-right: 50px;
    padding-top: 10px;
    display:flex;
    /* flex-direction: row; */
    justify-content: right;
}

.nav-header {
    margin:14px 40px;
}

.nav-header ul {
    display: flex;
}

.nav-header a{
    font-size: 15px;
    font-weight: 300;
    margin:0px 10px;
    /* border-radius: 5px; */
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding:5px 10px;
    transition:color 0.5s;

}

.nav-header a:hover {
    color: #000000;
    transition:color 0.5s;

}

.nav-header a:active {
    color: #f1e8e8;
  }


.nav-header li {

    list-style: none;
}

.header-content{
    /* text-wrap: wrap; */
    margin-top: 8%;
    padding:20px;
    font-weight: 0;
    color:white;
    text-align: center;
  }

.content {
        margin-top: 1%;
        padding:20px;
        font-weight: 0;
        color:white;
        text-align: center;
      
}

button {
    color:white;
    border:1px solid white;
    margin-top: 50px;
    background-color: transparent;
    height:50px;
    width:200px;
    font-size: 15px;
    border-radius: 40px;
}

.mobilepart {

    font-family: 'Gowun Dodum';
    padding:30px 50px;
    /* height:50vh; */
    /* width:100vw; */
    background-image: url("https://hips.hearstapps.com/netdoctor.cdnds.net/17/50/1513418016-phone-table.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    /* background-attachment: fixed; */
    background-position:center;
    /* aspect-ratio: ; */
}

.prachar {
    text-align: center;
    padding-top:20px;
}

.content1 {
    margin: 1%;
    /* padding:20px; */
    font-weight: 0;
    color:rgb(41, 38, 38);
    text-align: center;
}

.third {
    width:100%;
    height:90vh;

}

.prachar2{
    font-family: 'Gowun Dodum';
    text-align: center;
    padding-top:40px;
}

.bar i {
    display: none;
}



@media (max-width:800px) {
    .navigation-bar{
        justify-content: right;
        font-size: 30px;
        color:white;
    }

   button {
    width:150px;
    height:30px;
    font-size: 10px;
   }

}

@media (max-width:410px){
   .mobilepart {
    text-align: center;
   }
}

@media (max-width:650px) {
.nav-header li{
    display: none;
}

.navigation-bar {
    justify-content: right;
}

.bar i {
    text-align: right;
    display: block;
}
}

    