*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
}
div{
    width: 100px;
    height: 100px;
    background-color: rgb(5, 71, 239);
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    from {background-color:cadetblue}
    to {background-color: yellow;}
}