*{
    padding:0;
    margin:0;
}

.all {
    justify-content: space-around;
    display: flex;
}

html, body {
    background-color: rgb(61, 60, 58);
    height:100%;
    width:100%;
}

.navBar{
    height:20px;
    background-color: rgba(197, 247, 247, 0.39);
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;

}

.navBar h4{
    margin: 10px;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header a{
    text-decoration: none;
    color:rgb(66, 93, 84);
}

.nav-header a:hover{
    border-radius: 15%;
    border: 1px solid black;
    background-color: bisque;
    color: rgb(0, 0, 0);
}



.nav-log img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  

}

.nav-header h4 img {
    height: 16px;
    width:16px;
}


.about h2 {
    font-size: 100px;
    color:rgb(206, 250, 251);
}

.about p{
    font-size: 36px;
    color:chocolate;
    text-decoration:underline;
}


/* <body> */

.container {
    display: flex;
    justify-content: space-between;
}

.imag {
    height: 300px;
    width:300px;
    /* background-color: antiquewhite; */
}

.imag img{
    height:310px;
    width:300px;
}

.left{
    margin-left:50px;
}

.nami {
    display: flex;
    margin-top: 10px;
    height: 300px;
    width:300px;
    /* background-color: antiquewhite; */
}

.nami img{
    height:310px;
    width:300px;
}


.contNami {
    height:275px;
    width:255px;
    /* background-color: rgb(171, 162, 162); */
    margin-top: 30px;
    padding-left: 2%;
    padding-top: 20px;
}

.sanji {
    margin-right: 20%;
    margin-top: 10px;
    height: 300px;
    width:300px;
    /* background-color: antiquewhite; */
}

.sanji img{
    height:310px;
    width:300px;
}
