*{

    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

.nav{
    background-color: rgba(81, 90, 90, 0.39);
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;

}

.nav h4{
    margin: 10px;
}

.nav-header{
    display: flex;
    align-items: center;
 
}

.nav-header a{
    text-decoration: none;
    color:rgb(66, 93, 84);
}

.nav-header a:hover{
    color: rgb(0, 0, 0);
}



.nav-log img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.body{

    background-color: rgba(175, 129, 223, 0.444);
    /* padding: 1080px 400px; */
    display: flex;
}

.body div{
    margin: 50px;
}

.left{
    background-color: rgb(5, 28, 73);
    width: 600px;
    height: auto;
}

.right{
    background-color: blanchedalmond;
    width: 400px;
    height: 600px;
}

/* .img{ */
    /* background-color: darkgrey; */
    /* padding: 100px 100px; */
/* } */

.img img{
    width: 100%;
    height: 20%;
}
.img p{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.title{
    background-color: rgb(34, 25, 25);
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    border-radius: 15px 200px;
}
.title h4{

    color: aliceblue;
    margin: 10px;
}
.card{
    background-color: rgba(156, 96, 96, 0.263);
    padding: 100px 100px;
    border-radius: 150px 20px;
}
.child-1{
    background-color: rgb(20, 108, 186);
    padding: 50px 100px;
}
.child-2{
    background-color:coral;
    padding: 50px 100px;
}
.footer-body{
    background-color: rgb(67, 69, 70);
    padding: 50px 100px;

    border-radius: 0px 100px;
}

