*{
    padding:0;
    margin:0;
}

html, body{
    width:100%;
    height:100%;
}

.navBar{

    display:flex;
    justify-content:space-between;
    background-color: rgb(223, 223, 223);
    height:100px;
    width:100%;
    border-bottom: 2px solid black;
}

.nav_header{
    margin-top: 40px;
    margin-right: 5%;
}

.nav_header a{
    margin-right:30px;
    text-decoration: none;
    color:black;
}

.nav_header a:hover{
    text-decoration: underline;
    /* color:rgb(251, 245, 245); */
}

.logo{
    margin-left:30px;
    margin-top: 26px;
}
.logo img{
    height:50px;
    width:50px;
    border-radius: 50%;
}

/* body starts here */

.main {
    background-color: rgb(223, 223, 223);
}

.container{
    display:flex;
    margin-left:80px;
}

.image img{
    margin:2px;
    height:450px;
    width:700px;
}

.feature{
    margin-left: 50px;
}

.feature p{
    border:1px solid black;
    width:600px;
    height:260px;
    padding-left: 10px;
    padding-right: 10px;
}

/* changes here  */

.readmore{
    border:1px solid black;
    margin-top:20px;
    width:624px;
    height:141px;
    /* background-color: ; */
}


/* container 2 starts here */
.container_2{
    margin-top: 20px;
    display:flex;
}

.demo {
    height:175px;
    width:450px;
    border:1px solid black;
    /* background-color: bisque; */
}

.demo img{
    border:1px solid black;
    width:448px;
    height:173px;
    /* margin:5px 0px 0px 5px; */
}

.purchase {
    height:175px;
    width:100%;
    border:1px solid black;
    /* background-color: brown; */
}

.purchase img{
    height:25px;
    width:25px;
    border:1px solid black;
    margin: 2px 0px 0px 2px;
}
.purchase h2{
    text-align:center;
    margin-top: 0px;
}

.purchase button{
    padding:2px;
    margin-top:10px;
    font-size: 20px;
    margin-left: 91%;
    /* background-color: white; */
}
/* .purch{
    margin-top:2px;
    margin-left: 88%;
}
.purch h3{
    border:1px solid black;
    width:120px;
    font-size: 30p;x 

} */

.container_3 {
    display:flex;
}

.demo_2{
    border:1px solid black;
    margin-top: 5px;
    display: flex;
    width:50%;
    height:200px;
    /* background-color: aqua; */
}
.one {
    border:1px solid black;
    margin-left: 80px;
    margin-top:50px;
    margin-right: 75px;
    height:100px;
    width:100px;
    /* background-color: beige; */
}

.one img {
    height:100px;
    width:99px;
}

.two{
    border: 1px solid black;
    margin-top: 50px;
    margin-right: 75px;
    height:100px;
    width:100px;
    /* background-color:brown ; */
}

.two img {
    height:100px;
    width:100px;
}

.three {
    border:1px solid black;
    margin-top: 50px;
    margin-right: 75px;
    height:100px;
    width:100px;
    /* background-color:blueviolet; */
}

.three img {
    height:100px;
    width:100px;
}

.screenshot {
    width:50%;
    height:200px;
    display:flex;
    margin-top: 5px;
    border:1px solid black;
    /* background-color: brown; */
}

.four{
    border:1px solid black;
    margin-top:42px;
    margin-left:185px;
    /* margin-right:30px; */
    height:120px;
    width:50px;
}

.four img {
    height:120px;
    width:50px;
}

.five {
    border:1px solid black;
    margin-top:42px;
    /* margin-left:30px; */
    /* margin-right:0px; */
    height:120px;
    width:50px;
}

.five img {
    height:120px;
    width:50px;
}

.six {
    border:1px solid black;
    margin-top:42px;
    /* margin-left:30px; */
    /* margin-right:0px; */
    height:120px;
    width:50px;
}

.six img {
    height:120px;
    width:50px;
}

.seven {
    border:1px solid black;
    margin-top:42px;
    /* margin-left:30px; */
    /* margin-right:0px; */
    height:120px;
    width:50px;
}

.seven img {
    height:120px;
    width:50px;
}

.eight {
    border:1px solid black;
    margin-top:42px;
    /* margin-left:30px; */
    /* margin-right:0px; */
    height:120px;
    width:50px;
}

.eight img {
    height:120px;
    width:50px;
}

.nine {
    border:1px solid black;
    margin-top:42px;
    /* margin-left:30px; */
    /* margin-right:0px; */
    height:120px;
    width:50px;
}

.nine img {
    height:120px;
    width:50px;
}

.ten {
    border:1px solid black;
    margin-top:42px;
    /* margin-left:30px; */
    /* margin-right:0px; */
    height:120px;
    width:100px;
}

.ten img {
    height:120px;
    width:100px;
}

.testinomal {
    height:200px;
    width:100%;
    /* background-color: aqua; */
    
}

.testinomal h3 {
    padding-top:6%;
    text-align: center;
}

.testinomal button{
    /* background-color: rgb(212, 208, 208); */
    height:40px;
    width:125px;
    font-size: 20px;
    margin-top: 38px;
}

.second_last {
    display:flex;
    width:100%;
    height:250px;
    border:1px solid black;
}

.eleven {
    border:1px solid black;
    margin-top: 25px;
    margin-left: 65px;
    /* background-color: rgb(48, 77, 103); */
    height:200px;
    width:185px;
}

.eleven img {
    height:200px;
    width:185px;
}


.twelve {
    border:1px solid black;
    margin-top: 25px;
    /* margin-left: 40px; */
    /* background-color: rgb(84, 165, 236); */
    height:200px;
    width:185px;
}

.twelve img {
    height:200px;
    width:185px;
}

.thirteen {
    border:1px solid black;
    margin-top: 25px;
    /* margin-left: 40px; */
    /* background-color: rgb(1, 12, 22); */
    height:200px;
    width:185px;
}

.thirteen img {
    height:200px;
    width:185px;
}

.fourteen {
    border:2px solid black;
    margin-top: 25px;
    margin-left: 180px;
    /* background-color: rgb(1, 12, 22); */
    height:180px;
    width:400px;
}

.fourteen h3{
    padding:80px 0px 0px 170px;
}

.facebook button{
    height:55px;
    width:50px;
    font-size: 50px;
    margin-top: 25px;
    margin-left:40px;

}

.twitter button {
    height:55px;
    width:50px;
    font-size: 50px;
    margin-top: 25px;
    margin-left:30px;
}

.etc button {
    height:55px;
    width:55px;
    font-size: 50px;
    margin-top: 25px;
    margin-left:30px;
}

.lastone footer {
    width:100%;
    height:49px;
    /* background-color: aqua; */
}

footer {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
