* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
    width:100%;
}

.navBar {
    display:flex;
    justify-content: space-between;
    height:100px;
    width:100%;
    background-color: rgb(137, 137, 137);

}
.logo {
    margin-top: 22px;
    margin-left: 40px;
}
.logo img {
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid black;
}

.navHead{
    box-sizing: border-box;
    /* display: flex; */
    margin-top:39px;
    margin-right: 10%;
    
}

.navHead a{
    height:50px;
    width:40px;
    margin-left:30px;
    /* border:1px solid black; */
    text-decoration: none;
    color:white;
}

.navBar a:hover{
    background-color: rgb(10, 10, 10);
}

input {
    margin-left:30px;
    height:40px;
    width:150px;
    border-radius:15px;
    border:1px solid black;
}

.container_1{
    height:500px;
    width:100%;
    /* background-color: aquamarine; */
}

.container_1 img {
    height:500px;
    width:100%;
}

.container_2 {
    margin-top:30px;
    margin-bottom:30px;
    display:flex;
    height:300px;
    width:100%;
    border:1px solid black;
}

.feature_1 {
    margin-left: 75px;
    margin-top: 37px;
    height:225px;
    width:400px;
    background-color: aqua;
    border:1px solid black;
}

.feature_2 {
    margin-left: 75px;
    margin-top: 37px;
    height:225px;
    width:400px;
    background-color: aqua;
    border:1px solid black;
}
.feature_3 {
    margin-left: 75px;
    margin-top: 37px;
    height:225px;
    width:400px;
    background-color: aqua;
    border:1px solid black;
}

.container_3 {
    height:650px;
    width:100%;
    background-color: blanchedalmond;
    border:1px solid black;
    margin-bottom: 30px;
}

.topic {
    margin-left: 25%;
    margin-top: 40px;
    height:100px;
    width:50%;
    border: 1px solid black;
    display:flex;
}

.second_part {
    display:flex;
}

.photo_1{
    margin-left: 63px;
    margin-top: 55px;
    height:400px;
    width:300px;
    background-color: black;

}

.photo_2 {
    margin-left:63px;
    margin-top: 55px;
    height:400px;
    width:300px;
    background-color: black;
}

.photo_3 {
    margin-left:63px;
    margin-top: 55px;
    height:400px;
    width:300px;
    background-color: black;
}

.photo_4 {
    margin-left:63px;
    margin-top: 55px;
    height:400px;
    width:300px;
    background-color: black;
}

/* .container_4 {
    margin-top: 40px;
    margin-bottom: 30px;
    height:350px;
    width:100%;
    background-color: blue;
}

.bar{
    margin-left: 10%;
    height:50px;
    width:400px;
    border:1px solid black;
} */


.container_4 {
    height:300px;
    width:100%;
    background-color: rgb(156, 189, 194);
    border:1px solid black;
    margin-bottom: 30px;
}

.bar {
    margin-left: 40px;
    margin-top: 50px;
    height:30px;
    width:30%;
    border: 1px solid black;
    display:flex;

}
.for_second {
    display: flex;
}

.commentBox {

    height:60px;
    width:20%;
    margin-left: 40px;
    margin-top: 30px;
    /* display: flex; */
    /* border:1px solid black; */

}

.button {
   
    margin-top: 30px;
    margin-left: 30px;
}

button {
    /* padding: 0%; */

    height:60px;
    width:120px;
    font-size: 20px;
    border-radius: 20px;

}