* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h2 {
    text-align: center;
  }
  .container {
    background-color: lightcoral;
    margin: auto;
    width: 90%;
    height: 90vh;
    margin-top: 3.1rem;
    padding-top: 3rem;
    border: 2px solid black;
    border-radius: 0.6rem;
  }
  .box1 {
    border: 2px solid black;
    background-color: lightgreen;
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
    border-radius: 0.6rem;
  }
  .item1 {
    grid-area: 1/1/2/6;
    background-color: lightslategray;
    border: 2px solid black;
    border-radius: 0.6rem;
  }
  .item2 {
    grid-area: 2/1/6/-3;
    border: 2px solid black;
    background-color: lightcoral;
    border-radius: 0.6rem;
  }
  .item3 {
    grid-area: 2/3/-2/6;
    border: 2px solid black;
    background-color: lightcoral;
    border-radius: 0.6rem;
    padding-top: 2rem;
  }
  .item3-contain1 {
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: lightgreen;
    border-radius: 0.6rem;
  }
  .contain-box {
    background-color: lightslategray;
    width: 100%;
    height: 26%;
    border: 2px solid black;
    border-radius: 0.6rem;
  }