* {
    margin :0;
    padding:0;
}

html , body {
    height:100%;
    width:100%;
}

.navigation {
    display:flex;
    justify-content:space-between;
    width:100%;
    height:80px;
    background-color:rgb(228, 132, 132);
}

img {
    margin:15px 0px 0px 20px;
    width:50px;
    height:50px;
    border-radius: 50%;
    
}

.navhead {
    margin-top: 27px;

}
.navhead a {

    justify-content: center;
    margin-right: 50px;
    text-decoration: none;
    color:black;
}
