*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
}
.nav{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;

    padding: 10px 14px;
}
.header{
    display: flex;
    justify-content: space-between;
}

