* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 450px;
    height: 450px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4; 
}

.navigation {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: #1d0268; 
}

.logo-container>p {
    font-size: 40px;
    font-weight: bold;
    color: white; 
}

.navigation-link {
    display: flex;
}

.navigation-link>a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 10px; 
}

.header-line {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 150px;
    background-color: #0e0259;
}

.header-line>p {
    color: white;
    font-size: 24px;
    text-align: center;
}

.header-subtitle-container>p {
    color: black;
    font-size: 18px;
    text-align: center;
}

.header-line2 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    background-color: #130459; 
}

.header-line2-item>p {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.header-links {
    display: flex;
}

.header-links>a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 10px; 
}

.row-container1,
.row-container2,
.row-container3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.row-container1>p,
.row-container2>p,
.row-container3>p {
    text-align: center;
    font-size: 18px;
    color: #240371; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #19024c; 
}

footer>p:first-child {
    border-bottom: 2px solid white;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

footer>p:last-child {
    font-size: 20px;
    color: white;
}

footer>div {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 20px; 
}

footer>div a {
    color: white;
    margin: 0 10px; 
    font-size: 24px;
}

a:hover {
    color: aqua;
}
