*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: chartreuse;
    /* background-color:color: rgb(131, 112, 80); */
    background-image: url(img1.jpg);
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: lightcoral;
}

.computer{
     
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}