* {
margin: 0;
height: 0;
}
html, body{
    width: 300px;
    height: 300px;
}
div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
    margin: auto;
    align-items: center;
  }
  
  div:hover {
    width: 300px;
    background-image: url(/Nishal/1.jpg);
    border-radius: 50%;
    bottom: auto;
    /* align-items: center; */
  }