*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
}
.nav{
    background-color: rgb(211, 214, 216);
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
}
.logo img {
    width: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    color: rgb(3, 3, 120);
}
.header h1{
    margin: 10px;
}
.hero-title{
    /* position: relative; */
    background-color: azure;
    display: flex;
}
.hero-title .img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px;
    /* border-radius: 10px; */
    /* padding: 250px 250px; */
    /* background-color: aquamarine; */
}
.hero-title .img img{
    /* position: absolute; */
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.hero-title .text p{
    margin-top: 20px;

    background-color: rgba(243 130 35);

    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px 30px;

    text-align: justify;
    text-transform: capitalize;
}
.hero-title .text hr {
    color: chocolate;
}
.hero-body{

    background-color: darkgrey;
    text-align: center;
    margin-top: 10px;
    
}
.hero-body h3{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1rem;
    background-color: chocolate;
    color: white;
    text-align: center;
   
}
.hero-body p{
    padding: 15px 20px;
    margin:10px
    word-spacing: 5px;
    letter-spacing: 4px;
}