 *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
.logo img{
    width: 60px;
    height: 60px;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo h1{
    font-size: 30px;
}
.left-heading{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(227, 16, 16);
    color: white;
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
    
}
nav ul li a{
    color: rgb(3, 2, 2);
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(189, 174, 12);
    
}
nav ul{
    list-style: none;
}
.right-heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
@media (max-width:397px) {
    .btn{
     font-size: 10px;
        
    }
    .btn2{
        font-size: 10px;
    }

}
.right-heading .search,.Branch,.btns {
    margin-left: 25px;
}
.btn{
margin-right: 20px;
border: 2px solid rgb(8, 112, 122);
padding: 10px;
color: rgb(1, 1, 0);
}
.btn:hover,.btn2:hover{
    background-color: rgb(119, 8, 8);
    color: whitesmoke;
}
.btn2{
    border: 2px solid rgb(0, 128, 102);
    padding: 10px;
    color: white;
    background-color: rgb(68, 0, 128);
    margin-right: 5px;
}
.search a{
    color: #000;
}
.search:hover a{
    color: rgb(40, 6, 46);
}
.nav2{
   
    display: flex;
    justify-content: center;
    
    
}

.nav2 a{
    color: #340c0c;
    margin-left: 25px;
    
}
.nav2 a:hover{
    color: rgb(7, 30, 75);
    
}
.head{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.head h1{
    font-family:'Dancing Script', cursive;
    font-size: 50px;
    text-decoration:underline;
}
.suited p{
    font-size: 20px;
    text-align: center;
}
.img1 img{
    width: 100%;
    height: 600px;
     border: 2px solid rgb(9, 4, 4);
}
.img1{
    display: flex;
}
.product h1{
    font-size: 40px;
    text-align: center;
}
.product .text{
    text-align: center;
}
.container{
    display:flex;
    justify-content: center;
   
    flex-wrap: wrap;
    padding: 10px 10px;
}
.box1,.box2,.box3{
    
    width: 280px;
    height: 100%;
    padding: 30px 10px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
}
.box1,.box3{
    background-color:rgba(7, 166, 198, 0.752);
}
.box2{
    background-color: rgb(8, 2, 53);
    color: white;
    
}
.btn3{
    border: 1px solid rgb(1, 5, 1);
    background-color: rgb(83, 7, 7);
    padding: 10px;
    color: white;
}
.btn4{
    border: 1px solid white;
    background-color: rgb(73, 3, 3);
    padding: 10px;
    color: rgb(236, 236, 236);
}
.btn4:hover{
    background-color: rgb(60, 0, 128);
    color: white;
}
.btn3:hover{
    background-color: rgb(11, 1, 50);
    padding: 10px;
    color: rgb(0, 255, 0);
    font-weight: bold;
}
.line{
    border: 1px solid black;
    border-width: 80%;
    
}
.popular{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 63, 100);
    
    
}
.popular>p{
    text-align: center;
}
.big-container2{
    background-color: rgba(17, 76, 127, 0.436);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagee{
    background-color: rgba(16, 5, 89, 0.74);
    margin: 0 0 3px;
    width:900px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.imagee img{
    width: 300px;
    height: 235px;
    margin-left: 1%;
}
.paragraph{
    font-weight: bold;
    font-size: 15px;
}
.btn5{
    color: rgb(247, 247, 247);
    background-color: rgb(15, 0, 128);
    border-radius: 10%;
    padding: 10px;
    margin-left: 35%;
    
}
.btn5:hover{
    background-color: rgb(206, 199, 199);
    color: rgb(128, 0, 9);
}
.head{
    font-size: 35px;
    
}
.big-container3{
    width: 100%;
    height: 350px;
}
.tauko{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tauko h1{
font-size: 40px;
text-align: center;
}
.tauko p{
    text-align: center;
}
.mobileb{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 180px;
    flex-wrap: wrap;
}
.mobileb2{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 110px;
    flex-wrap: wrap;
}
.fbank i, .sbank i, .tbank i, .fobank i, .fibank i,.sibank i{
    font-size: 40px; 
    text-align: center;
    color: rgb(0, 11, 128);
}
.fbank p,.sbank p,.tbank p,.fobank p,.fibank p,.sibank p{
    font-size: 30px;
}
.fbank{
    display: flex;
    flex-direction: column;

}
.sbank{
    display: flex;
    flex-direction: column;
}
.tbank{
    display: flex;
    flex-direction: column;
}
.fobank{
    display: flex;
    flex-direction: column;
}
.fibank{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}
.sibank{
    display: flex;
    flex-direction: column;
}
@media (max-width:868px) {
    .big-container2 .imagee .other .head{
        font-size: 35px;
    }
    .big-container2 .imagee .other .paragraph{
        font-size: 12px;
    }
}
@media (max-width:756px) {
    .big-container2 .imagee .photo img{
        width: 150px;
        height: 100px;
    }
    .big-container2{
        height: 100%;
       
    }
    .imagee{
        background-color: rgb(51, 122, 185);
        height: 300px;
        width: 100%;
    }

    
}
@media (max-width:862px){
    .mobileb2 .fobank p, .mobileb2 .fibank p, .mobileb2 .sibank p{
        font-size: 25px;
    }
    .mobileb .fbank p, .mobileb .sbank p, .mobileb .tbank p{
        font-size: 25px;
    }
}
@media (max-width:750px){
    .mobileb2 .fobank p, .mobileb2 .fibank p, .mobileb2 .sibank p{
        font-size: 15px;
    }
    .mobileb .fbank p, .mobileb .sbank p, .mobileb .tbank p{
        font-size: 15px;
    }
    .fbank i, .sbank i, .tbank i, .fobank i, .fibank i,.sibank i{
    font-size: 30px;
    }
    .mobileb{
        margin-left: 100px;
        margin-right: 140px;
    }
}
@media (max-width:526px){
    .mobileb{
        display: flex;
        flex-direction: column;
        
    }

    .mobileb2{
        display: flex;
        flex-direction: column;
    }
    .fbank, .sbank, .tbank, .fobank, .fibank, .sibank{
        border: 2px solid rgb(1, 43, 68);
        width: 150px;
        margin: 10px;
    }
    .mobileb2{
        margin-left: 26%;
       
    }
}