*{

  text-decoration: none;

}
body{

}
nav{
  width: 100%;
  height: 10%;
  display: flex;
  border: 2px solid black;
  margin-top: 2px;
}
.logoo{
  width: 60px;
  height: 40px;
  
}
.heading{
  margin-left: 950px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

}
.heading a{
  color: black;
  padding: 10px;
  font-size: large;

}
.img1{
 
  width: 600px;
}
.container img{
  width: 850px;
  border: 2px solid rgb(175, 1, 1);
  height: 400px;
  
  
}
.container{
  border: 2px solid rgb(167, 10, 10);
  display: flex;
}
.img1{
  padding: 10px;
  width: 70%;
}
.small_container{
  margin-left: -6%;
  width: 30%;
}
h1{
  font-size: 80px;
  margin-top: -1%;

}
.features{
  border: 2px solid rgb(185, 8, 8);
  width: 426px;
  margin-top: -9%;
  font-size: 25px;
}
li{
  padding: 5px;
}
.con{
  border: 2px solid rgb(163, 3, 3);
  width: 80%;
  font-size: 50px;
  padding: 8px;
}
.conn{
  border: 2px solid rgb(180, 9, 9);
  width: 20%;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  padding: 25px;
  
}
.container2{
  border: 2px solid rgb(190, 2, 2);
  height: 60px;
  display: flex;
}
.HEL{
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  size: 10px;
  margin: 1%;
  margin-left: 80%;

}
.HEL2{
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  size: 10px;
  margin: 1%;
}
.HEL3{
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  size: 10px;
  margin: 1%;
}
.HEL4{
  border: 2px solid black;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  size: 10px;
  margin: 1%;
}