
*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}
body{
    background-color:antiquewhite;
}
nav{
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgb(150, 11, 11);
    
    background-color: rgb(1, 3, 126);
    position: sticky;
    top: 0;

}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;


}
.heading a{
    color: black;
    padding: 10px;
    font-size: 30px;

    
}
.heading a:hover{
    background-color: rgb(179, 5, 5);
    color: rgb(4, 11, 16);
    }
.logo img{
    width: 80px;
    height: 70%;
}
.logo{
    margin-top: 0.5%;
}
.search{
    margin-top: 1%;
    margin-left: 2%;
    height: 30px;
}
.photo{
    border: 2px solid black;
}
.photo img{
    width: 100%;
    
}
.content{
    display: flex;
    gap: 50px;
    border-bottom: 3px solid black;
    height: 150px;
    padding: 90px;
    margin-top: -5%;
}
.c3{
    background-color: white;
    padding: 15px;
    margin-left: 5%;
    border: 3px solid orangered;
    height: 110%;
    width: 30%;
    
    
    
}

.c1{
    background-color: white;
    padding: 15px;
    margin-left: 2%;
    border: 3px solid orangered;
     height: 110%;
      

}
.c2{
    background-color: white;
    padding: 15px;
    margin-left: 10%;
    border: 3px solid orangered;
    height: 110%;
}
li{
    font-size: 20px;
}
.models{
    border: 3px solid black;
    width: 36%;
    background-color: rgb(0, 255, 162);
    margin-left: 32%;
    padding: 20px;
    display: flex;
}
.m2{
    width: 300px;
    height: 200px;
}
.type1,.type2,.type3,.type4{
    border: 2px solid rgb(6, 25, 122);
    background-color: white;
    padding: 10px;
    width: 25%;
    margin: 20px;
    
}
.types{
    display: flex;
    margin: 0%;
    justify-content: center;
    border-bottom: 2px solid rgb(9, 62, 78);
    
}
footer {
background-color: rgb(18, 102, 176);
color: rgb(0, 0, 0);
padding: 20px 0;
text-align: center;
}

.footer-content {
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-logo img {
width: 80px;
}

.footer-links ul {
list-style: none;
display: flex;
}

.footer-links li {
margin-right: 20px;
}

.footer-links a {
text-decoration: none;
color: black;
font-weight: bold;
transition: color 0.3s ease;
}

.footer-links a:hover {
color: rgb(0, 0, 0);
background-color: #7e4c4c; 
}

.footer-social ul {
list-style: none;
display: flex;
}

.footer-social li {
margin-right: 15px;
}

.footer-social a {
color: black;


}

.footer-social a:hover {
color: palegreen;
background-color: #333; 

}
































































