*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
.nav-bar{
    display: flex;
}
.logo img{
    width: 80px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:blueviolet
}
.box{
    display: flex;
}
.box .img{
    /* position: relative; */
    /* width: 100px; */
    margin-top: 20px;
    margin: 40px; 
}
.box .img img{
    width: 400px;
    border-radius: 10px;
    margin: 40px;
}
.features{
    margin-left: 70%;
}