*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: darkred;
    padding: 8px 10px;
}
.logo img{
    width: 80px;
}
.header{
    display: flex;
    justify-content: space-between;
    color: gold;
}
.box{
    display: flex;
    background-color: dimgray;
}
.box .img{
    /* position: relative; */
    /* width: 100px; */
    margin-top: 20px;
    margin: 40px; 
}
.box .img img{
    width: 800px;
    border-radius: 10px;
    margin: 40px
}
.features{
    margin: 100px;
    color: gold;
    font: bold;
}