*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
}
.main{
    /* width: 100%;
    height: 100%; */
    display: flex;
    margin: 30px;
    justify-content: center;
}

.slide{
    border: 2px solid black;
    background-color: darkkhaki;
    width: 100px;
    height: 200px;
    padding: 200px 100px;
    color: darkblue;
    font-size: medium;
}

.slide-front{
    border: 2px solid red;
    background-color: darkkhaki;
    padding: 200px 200px;
    width: 200px;
    height: 200px;
    color: darkblue;
    font-size: medium;
}